.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__element {

    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    text-align: center;
  }

  &__input {
    margin-left: 5px;
    padding: 5px;

    &::placeholder {
      color: rgba($c-black, .4)
    }
  }

  &__message {
    margin-top: 30px;
    padding: 5px;
  }
}